.container {
  padding: 0 2rem;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.tableau {
  margin: 0 auto;
  font-size: 20px;
}

.tableau tr, .tableau th {
  border: 1px solid #333;
}

.tableau td, .tableau th {
  padding: 10px;
  text-align: center;
  min-width: 200px;
}

.tableau tr td:nth-child(1) {
  border-right:  1px solid #333;
}
